---
layout: default
title: archive
---

<div class="tags-expo">
    <div class="tags-expo-section">
        <ui class="tags-expo-posts">
            {% for post in site.posts %}
            <li>
                <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                    <small>{{ post.title }}</small>
                    <small class="post-date">{{ post.date | date: "%F" }}</small>
                </a>
                {% if post.categories %} |
                {% for tag in post.categories %}
                <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                {% endfor %}
                {% endif %}
            </li>
            {% endfor %}
        </ui>
    </div>
</div>
